<!-- Start Footer -->
<footer id="footer" class="footer dark">
    <div class="footer-top">
      <div class="container">
        <div class="row"> 
          <div class="col-md-4 col-sm-6 col-xs-12">
            <!-- Address Widget -->
            <div class="single-widget address">
              <h2>Head Office</h2>
              <p>Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod temporia.</p>
              <ul class="list">
                <li><i class="fa fa-phone"></i>Phone: +123 456-7890 </li>
                <li><i class="fa fa-envelope"></i>Email:<a href="mailto:info@softtar.com">Info@pixiportal.com</a></li>
                <li><i class="fa fa-map-o"></i>Address: Road no 3, Khilgaon 1200, Lahore Pakistan</li>
              </ul>		
              <ul class="social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <!--/ End Address Widget -->
          </div>	
          <div class="col-md-4 col-sm-6 col-xs-12">
            <!-- Links Widget -->
            <div class="single-widget links">
              <h2>Quick Links</h2>
              <ul class="list">
                <li><a href="about-us-2.html"><i class="fa fa-angle-right"></i>About Our Company</a></li>
                <li><a href="services-2.html"><i class="fa fa-angle-right"></i>Our Latest services</a></li>
                <li><a href="projects-masonry-2.html"><i class="fa fa-angle-right"></i>Our Recent Project</a></li>
                <li><a href="blogs-right-sidebar.html"><i class="fa fa-angle-right"></i>Latest Blog</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i>Help Desk</a></li>
                <li><a href="contact.html"><i class="fa fa-angle-right"></i>Contact With Us</a></li>
              </ul>
            </div>
            <!--/ End Links Widget -->
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <!-- Twitter Widget -->
            <div class="single-widget twitter">
              <h2>Recent Tweets</h2>
              <div class="single-tweet">
                <i class="fa fa-twitter"></i>
                <p><a href="">@Pixiportal</a> you are the best</p>
                <span>4 Minutes Ago</span>
              </div>
              <div class="single-tweet">
                <i class="fa fa-twitter"></i>
                <p><a href="">@Pixiportal</a> welldone job</p>
                <span>3 Hourse Ago</span>
              </div>
              <div class="single-tweet">
                <i class="fa fa-twitter"></i>
                <p><a href="">@Pixiportal</a> keep it up</p>
                <span>5 Hourse Ago</span>
              </div>
            </div>
            <!--/ End Twitter Widget -->
          </div>
          
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <!-- copyright -->
            <div class="copyright">
              <p>&copy; 2019 All Right Reserved.  Design & Developed By <a href="">Pixiportal</a></p>
            </div>
            <!--/ End Copyright -->
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ End footer -->