<app-header></app-header>				
                <section class="breadcrumbs">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2>Contact us</h2>
                        <ul class="bread-list">
                          <li><a href="">Home<i class="fa fa-angle-right"></i></a></li>
                          <li class="active"><a routerLink="/contact">Contact us</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
                <section id="contact-us" class="contact-us section">
                  <div class="container">
                    <div class="row">
                                            
                                  <div class="col-md-12 col-sm-6 col-xs-12">
                                  <br />
                                  <h2>Contact us</h2>
                        <form class="form" method="post" action="http://pixiportal.com/mail/mail.php">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <input type="text" name="name" placeholder="Full Name" required>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <input type="email" name="email" placeholder="Your Email" required>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <input type="text" name="subject" placeholder="Subject" required>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <textarea name="message" rows="7" placeholder="Type Your Message Here" ></textarea>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group button">	
                                <button type="submit" class="btn primary" name="send">Submit Message</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                                  
                    </div><br>
                                            <div class="row">
              <div class="col-sm-4">
                           <address>
            <strong>United Kingdom.</strong><br>
            14 Spinningfields 
          Hardman Boulevard
          Suite 2 <br>
           1st Floor Office Manchester
          M3 5JE<br>
            <abbr title="Phone">P:</abbr> +(44) 7459748779
          </address>
          
          <address>
            <strong>Email</strong><br>
            <a href="">info@pixiportal.com</a>
          </address>
               
              </div>
              <div class="col-sm-4">
                <address>
            <strong>Islamabad.</strong><br>
            1st floor ,Suite 326 (CB-613)<br>
            Lane No 5 Peshawar Road Rawalpindi<br>
            <abbr title="Phone">P:</abbr> (051)-8465641
          </address>
          
          <address>
            <strong>Email</strong><br>
            <a href="">info@pixiportal.com</a>
          </address>
              </div>
              <div class="col-sm-4">
                <address>
            <strong>Lahore.</strong><br>
            
          Office#01 Trust Plaza Firdous Market<br>
            Gulberg-III
          Lahore-Pak<br>
            <abbr title="Phone">P:</abbr> +(92) 304 6117529
          </address>
          
          <address>
            <strong>Full Name</strong><br>
            <a href="">info@pixiportal.com</a>
          </address>
              </div>
            </div>
          
                  </div>
                </section>
                <!--/ End Contact -->
                
                <!-- Map Section -->
                <div class="map-section">
                  <div id=""></div>
                </div>
                <!--/ End Map Section -->
          
                                  
                
                <!-- Start Call-To-Action -->
                           <!-- Start Call-To-Action -->
                <section class="call-to-action">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="call-to-main">
                          <h2>we'll one over <span>5 Years of experience you always</span> the best guidance</h2>
                          <a routerLink="/contact" class="btn"><i class="fa fa-send"></i>Contact Us</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <!--/ End Call-To-Action -->			<!--/ End Call-To-Action -->
<app-footer></app-footer>          