<app-header></app-header>
<!-- Start Breadcrumbs -->
			<section class="breadcrumbs">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h2>Gallery</h2>
							
						</div>
					</div>
				</div>
			</section>
			<!--/ End Breadcrumbs -->
		
			<!-- Start Projects -->
			<section id="blog-main" class="blog-main archive grid section">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="section-title">
								<h1>Gallery of this Event</h1>
								<p>Here are the people who enjoyed this Event </p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<!-- project Nav -->
							
							<!--/ End project Nav -->
						</div>
					</div>					
					<div class="row">
            <div class="blog-main">	
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- Single Post -->
                    <div class="single-blog slider">
                      <div class="blog-post">
                        <div class="blog-head">
                          <div class="blog-slide">
                            <div class="single-slide">
                              <img routerLink="/gallery" src="../../../../assets/images/gallery/gall01.jpg" alt="">
                            </div>
                            
                          </div>
                        </div>
                        	
                      </div>				
                    </div>
                    <!--/ End Single Post -->
                  </div>
      
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- Single Post -->
                    <div class="single-blog slider">
                      <div class="blog-post">
                        <div class="blog-head">
                          <div class="blog-slide">
                            <div class="single-slide">
                              <img routerLink="/gallery" src="../../../../assets/images/gallery/gall02.jpg" alt="">
                            </div>
                            
                          </div>
                        </div>	
                      </div>				
                    </div>
                    <!--/ End Single Post -->
                  </div>
      
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- Single Post -->
                    <div class="single-blog slider">
                      <div class="blog-post">
                        <div class="blog-head">
                          <div class="blog-slide">
                            <div class="single-slide">
                              <img routerLink="/gallery" src="../../../../assets/images/gallery/gall04.jpg" alt="">
                            </div>
                            
                          </div>
                        </div>	
                      </div>				
                    </div>
                    <!--/ End Single Post -->
                  </div>
                </div>
                			
              </div>
            </div>						
          </div>
          <div class="row">
            <div class="blog-main">	
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- Single Post -->
                    <div class="single-blog slider">
                      <div class="blog-post">
                        <div class="blog-head">
                          <div class="blog-slide">
                            <div class="single-slide">
                              <img routerLink="/gallery" src="../../../../assets/images/gallery/gall05.jpg" alt="">
                            </div>
                            
                          </div>
                        </div>
                        	
                      </div>				
                    </div>
                    <!--/ End Single Post -->
                  </div>
      
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- Single Post -->
                    <div class="single-blog slider">
                      <div class="blog-post">
                        <div class="blog-head">
                          <div class="blog-slide">
                            <div class="single-slide">
                              <img routerLink="/gallery" src="../../../../assets/images/gallery/gall06.jpg" alt="">
                            </div>
                            
                          </div>
                        </div>	
                      </div>				
                    </div>
                    <!--/ End Single Post -->
                  </div>
      
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- Single Post -->
                    <div class="single-blog slider">
                      <div class="blog-post">
                        <div class="blog-head">
                          <div class="blog-slide">
                            <div class="single-slide">
                              <img routerLink="/gallery" src="../../../../assets/images/gallery/gall07.jpg" alt="">
                            </div>
                            
                          </div>
                        </div>	
                      </div>				
                    </div>
                    <!--/ End Single Post -->
                  </div>
                </div>
                			
              </div>
            </div>						
          </div>
          <div class="row">
            <div class="blog-main">	
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- Single Post -->
                    <div class="single-blog slider">
                      <div class="blog-post">
                        <div class="blog-head">
                          <div class="blog-slide">
                            <div class="single-slide">
                              <img routerLink="/gallery" src="../../../../assets/images/gallery/gall08.jpg" alt="">
                            </div>
                            
                          </div>
                        </div>
                        	
                      </div>				
                    </div>
                    <!--/ End Single Post -->
                  </div>
      
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- Single Post -->
                    <div class="single-blog slider">
                      <div class="blog-post">
                        <div class="blog-head">
                          <div class="blog-slide">
                            <div class="single-slide">
                              <img routerLink="/gallery" src="../../../../assets/images/gallery/gall09.jpg" alt="">
                            </div>
                            
                          </div>
                        </div>	
                      </div>				
                    </div>
                    <!--/ End Single Post -->
                  </div>
      
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- Single Post -->
                    <div class="single-blog slider">
                      <div class="blog-post">
                        <div class="blog-head">
                          <div class="blog-slide">
                            <div class="single-slide">
                              <img routerLink="/gallery" src="../../../../assets/images/gallery/gall02.jpg" alt="">
                            </div>
                            
                          </div>
                        </div>	
                      </div>				
                    </div>
                    <!--/ End Single Post -->
                  </div>
                </div>
                			
              </div>
            </div>						
          </div>
          <div class="row">
            <div class="blog-main">	
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- Single Post -->
                    <div class="single-blog slider">
                      <div class="blog-post">
                        <div class="blog-head">
                          <div class="blog-slide">
                            <div class="single-slide">
                              <img routerLink="/gallery" src="../../../../assets/images/gallery/gall11.jpg" alt="">
                            </div>
                            
                          </div>
                        </div>
                        	
                      </div>				
                    </div>
                    <!--/ End Single Post -->
                  </div>
      
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- Single Post -->
                    <div class="single-blog slider">
                      <div class="blog-post">
                        <div class="blog-head">
                          <div class="blog-slide">
                            <div class="single-slide">
                              <img routerLink="/gallery" src="../../../../assets/images/gallery/gall12.jpg" alt="">
                            </div>
                            
                          </div>
                        </div>	
                      </div>				
                    </div>
                    <!--/ End Single Post -->
                  </div>
      
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- Single Post -->
                    <div class="single-blog slider">
                      <div class="blog-post">
                        <div class="blog-head">
                          <div class="blog-slide">
                            <div class="single-slide">
                              <img routerLink="/gallery" src="../../../../assets/images/gallery/gall13.jpg" alt="">
                            </div>
                            
                          </div>
                        </div>	
                      </div>				
                    </div>
                    <!--/ End Single Post -->
                  </div>
                </div>
                			
              </div>
            </div>						
          </div>
          <div class="row">
            <div class="blog-main">	
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- Single Post -->
                    <div class="single-blog slider">
                      <div class="blog-post">
                        <div class="blog-head">
                          <div class="blog-slide">
                            <div class="single-slide">
                              <img routerLink="/gallery" src="../../../../assets/images/gallery/gall14.jpg" alt="">
                            </div>
                            
                          </div>
                        </div>
                        	
                      </div>				
                    </div>
                    <!--/ End Single Post -->
                  </div>
      
                  
                </div>
                			
              </div>
            </div>						
          </div>
          
				</div>
			</section>
			<!--/ End Projects -->
			
			<!-- Start Call-To-Action -->
			<section class="call-to-action">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="call-to-main">
								<h2>we'll one over <span>5 Years of experience you always</span> the best guidance</h2>
								<a routerLink="/contact" class="btn"><i class="fa fa-send"></i>Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/ End Call-To-Action -->
		
      <!-- Start Footer -->
<app-footer></app-footer>