<header id="header" class="header">
  <div class="container">
   <div class="row">
     <div class="col-md-3 col-sm-3 col-xs-12">
       
       <!--/ End Logo -->
       <div  class="mobile-nav"></div> 
     </div>
     <div style="margin-top:30px;" class="col-md-9 col-sm-9 col-xs-12">
       <!-- Header Widget -->
       <div class="header-widget">
         <!-- Single Widget -->
         <div class="single-widget">
           <i class="fa fa-clock-o"></i>
           <h4>Opening Time</h4>
           <p>Mon-Fri: 9.00-17.00</p>
         </div>
         <!--/ End Single Widget -->
         <!-- Single Widget -->
         <div class="single-widget">
           <i class="fa fa-envelope"></i>
           <h4>Email address</h4>
           <p><a href="">info@pixiportal.com</a></p>
         </div>
         <!--/ End Single Widget -->
         <!-- Single Widget -->
         <div class="single-widget">
           <i class="fa fa-phone"></i>
           <h4>Phone</h4>
           <p>+(92) 335-7674693</p>
         </div>
         <!--/ End Single Widget -->
       </div>
       <!--/ End Header Widget -->
     </div>
   </div>
 </div>
 <!-- Header Inner -->
 
 <!--/ End Header Inner -->
</header>

<section class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h2>Admin Section</h2>
          
          
        </div>
      </div>
    </div>
  </section>
