.btn-light{

    width:330px;
  }
  dropdown-toggle
  {
    position:relative;
    width:200px;
  }
.col-sm-8{
  margin-right: 170px;
  padding: 8px 16px;
} 

/* -- Modal -- */
.expand {
    cursor: pointer;
}
.game-modal .modal-title {
    margin: 5% 0 0 5%;
}
.game-modal img {
    margin: 5px 0 50px 0;
}
.modal-vid {
    width: 100%;
    max-width: 768px;
    height: 415px;
    margin: 20px 0 60px 0;
    border: none;
}
